@tailwind base;
@tailwind components;
@tailwind utilities;

tr, td {
    margin: 0;
    padding: 10px;
}

#search{
    justify-content: space-between;
}

#small{
    margin-left: 870px; 
    margin-top: 56px;

}

#box{
    margin: auto;
    display: flex;
    width: 50px;
    justify-content: space-around;
    
}

.circle{
    width:10px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}