@tailwind base;
@tailwind components;
@tailwind utilities;

tr, td {
    margin: 0;
    padding: 10px;
}

#search{
    justify-content: space-between;
}

#small{
    margin-left: 870px; 
    margin-top: 56px;

}

#box{
    margin: auto;
    display: flex;
    width: 50px;
    justify-content: space-around;
    
}

.exam{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1.6rem;
}

.exam::before, .exam::after{
    content: "";
    height: 2px;
    background-color: #000;
    display: block;
}

.cont{
    height: 80vh;
}



#list{
    justify-content: center;
    align-items: center;
}

.circle{
    width:10px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
}